@model SudheerStore.Models.Category
@{
    ViewBag.Title = @Model.Name;
}

<br />
<br />
<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "T-Shirt")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/1">T-Shirts</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/1">T-Shirts</a>
                </li>
            }
            @if (Model.Name == "Shoes")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/2">Shoes</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/2">Shoes</a>
                </li>
            }
            @if (Model.Name == "Phones")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/3">Phones</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/3">Phones</a>
                </li>
            }
            @if (Model.Name == "Watches")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/4">Watches</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/4">Watches</a>
                </li>
            }

        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">

                        @{
                            var base64 = Convert.ToBase64String(product.Product_Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src="@imgSrc" height="30" width="80"  />
                        @*<img class="img-responsive" src="~/Content/Images/Products/@(product.Name).png">*@

                        <div class="caption text-center">
                            <p>
                                <b>Name:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Price:</b> <span>@product.Price USD</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = product.Id }, new { @class = "btn btn-info" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
